<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" href="/css/style.css" />
</head>
<header>
    <a th:href="@{/home}">home</a>
    <a th:href="@{/about}">about</a>
</header>
<body>
<h1>about me!</h1>
<div class="row1">
    <div class="row1content">
        <p th:text="${myCity}"></p>
        <p th:text="${myName}"></p>
        <p th:text="${myStreet}"></p>
        <p th:text="|ik ben ${myName} en woon in ${myStreet}, te ${myCity}|">lol</p>
    </div>
</div>
</body>
</html>